<div class="homepage-container">

    <div class="navigation-cards">

        <div routerLink="/traceur"
             (click)="playClickSound()"
             class="nav-card">
            <img src="/images/tracer.png"
                 alt="">
            <h2>Traceur Spatial</h2>
            <p>Utilise le pour localiser les différents lieux de ton pélerinage</p>
        </div>
        <div routerLink="/carte"
             (click)="playClickSound()"
             class="nav-card">
            <img src="/images/map.png"
                 alt="">
            <h2>Carte Temporelle</h2>
            <p>Consulte toutes les étapes de ton pélerinage</p>
        </div>


    </div>
</div>