<div class="homepage-container">

    <div class="navigation-cards">

        <div routerLink="/traceur"
             class="nav-card">
            <img src="/images/tracer.png"
                 alt="">
            <h2>Traceur Spatial</h2>
            <p>Utilisez le GPS pour trouver les lieux du trésor</p>
        </div>
        <div routerLink="/carte"
             class="nav-card">
            <img src="/images/map.png"
                 alt="">
            <h2>Carte Temporelle</h2>
            <p>Consultez toutes les étapes de votre chasse au trésor</p>
        </div>


    </div>
</div>