.app-container {
  max-width: 800px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .wrapper {
    padding: 15px;
    flex: 1;
    overflow-y: auto;
    background: rgba(10, 25, 41, 0.7);
    border: 1px solid rgba(0, 217, 255, 0.1);
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 0 5px 5px 5px;
  }
}
